/* permite crear fondos de pantalla en tamaño % */
body, html {
    height: 100%;
}

/* 1ª imagen de fondo fijada */
.parallax {
    /* Imagen usada */
    background-image: url("../img/1.jpg");

    /* Fija altura especifica de la imagen */
    height: 100%;

    /* Crea el efecto parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 2ª imagen de fondo, no fijada */
.paralelo {
    /* Imagen usada */
    background-image: url("../img/2.jpg");

    /* Fija altura especifica de la imagen */
    height: 100%;

    /* Crea el efecto parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 3ª imagen de fondo fijada */
.para {
    /* Imagen usada */
    background-image: url("../img/3.jpg");

    /* Fija altura especifica de la imagen */
    height: 100%;

    /* Crea el efecto parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
