/* line 1, ../sass/my.scss */
.invisible {
  opacity: 0;
}

/* line 5, ../sass/my.scss */
.left {
  background-size: cover;
  background-color: grey;
}

/* line 12, ../sass/my.scss */
.right {
  background: linear-gradient(to right, yellow, red);
}

/* line 18, ../sass/my.scss */
p {
  width: 90%;
}
