// hace invisible las imagenes
.invisible {
  opacity: 0;
}

// genera el fondo grisaceo de forma trapezoidal a la izquierda.
.izq {
  position: absolute;
  background-color: lightgrey;
  clip-path: polygon(0 0, 65% 0, 30% 100%, 0% 100%);
  height: 800px;
}

// genera el fondo degradado de forma trapezoidal a la derecha.
.der {
  position: absolute;
  background: linear-gradient(to top, yellow, red);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 31% 100%);
  height: 800px;
}

// Añade margenes para ajustar los elementos.
.mr{
  margin-right: 15px;
}
.ml{
  margin-left: 15px;
}

// ajusta el tamaño del texto plano.
p {
  width: 35%;
}
